<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true"
	  throwExceptions="true"
	  internalLogLevel="Debug"
	  internalLogFile="c:\temp\nlog-internal.txt"
	  internalLogToConsole="false"
	  autoReload="true">
	
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="Nlog.Web.AspNetCore" />
	</extensions>
	
	<!-- the targets to write to -->
	<targets>
		<target name="AllLogTarget" xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/all.log"
				layout="${date} ${callsite:includeNamespace=false} ${uppercase:${level}}: ${all-event-properties}, traceId=${aspnet-TraceIdentifier}. ${message}. ${exception:format=ToString}" />

		<target name="ErrorLogTarget" xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/error.log"
				layout="${date} ${callsite:includeNamespace=false} ${uppercase:${level}}: ${all-event-properties}, traceId=${aspnet-TraceIdentifier}. ${message}. ${exception:format=ToString}${newline}" />

		<target name="RequestsLogTarget" xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/requests.log"
				layout="${date} ${callsite:includeNamespace=false} ${uppercase:${level}}: ${all-event-properties}" />

		<target name="SystemLogTarget" xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyyy-MM}/${date:format=yyyy-MM-dd}/system.log"
				layout="${date} ${callsite} ${uppercase:${level}}: ${message} ${exception:format=tostring}" />

		<target name="Console"
				xsi:type="ColoredConsole"
				useDefaultRowHighlightingRules="false">
			<highlight-word text="FATAL" condition="level == LogLevel.Fatal" foregroundColor="Red" ignoreCase="true"/>
			<highlight-word text="ERROR" condition="level == LogLevel.Error" foregroundColor="Red" ignoreCase="true"/>
			<highlight-word text="WARN" condition="level == LogLevel.Warn" foregroundColor="Magenta" ignoreCase="true"/>
			<highlight-word text="INFO" condition="level == LogLevel.Info" foregroundColor="White" ignoreCase="true"/>
			<highlight-word text="DEBUG" condition="level == LogLevel.Debug" foregroundColor="Gray" ignoreCase="true"/>
			<highlight-word text="TRACE" condition="level == LogLevel.Trace" foregroundColor="DarkGray" ignoreCase="true"/>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="FinanceTracker.Host.Middlewares.RequestLoggerMiddleware" minlevel="Trace" writeTo="RequestsLogTarget" final="true" />
		<logger name="*" minlevel="Error" writeTo="ErrorLogTarget" />
		<logger name="FinanceTracker.*" minlevel="Trace" writeTo="AllLogTarget"/>
		<logger name="*" minlevel="Info" writeTo="SystemLogTarget" />
		<logger name="*" minlevel="Info" writeTo="Console"/>
	</rules>
	
</nlog>